/* Grid for normal and large screens: */
@media ( min-width : 50em) {
    #grid-container {
        margin-top: 2%;
        margin-left: 3%;
        margin-right: 3%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 7em 2em 15em auto 2em;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        align-items: stretch;
        justify-items: stretch;
    }
}